@media (min-width: 1024px) {
    #profile_sec .row{
        display: flex;
    }
    .align-profile-card{
        text-align: center;
        height: 100%;
    }
}
#portfolio h4{
    color: black;
    font-weight: 500;
    font-size: 14px;
}

#portfolio .img-cap{
    font-size: 13px;
}

/* .mdl-layout__header .title-img{
    width: 38px;
    height: 44px;
}

.mdl-layout__header .mdl-layout-title{
    text-transform: lowercase;
} */