@media (min-width: 1024px) {
    #profile_sec .row{
        display: flex;
    }
    .align-profile-card{
        text-align: center;
        height: 100%;
    }
}
@media (min-width: 768px) {
    /* #blog_sec .row{
        display: flex;
    }
    #blog_sec .col-sm-4{
        display: flex;
    } */
}